<launch>
	<arg name="imu_rate_arg" default="60"/>
	<arg name="debug_arg" default="0"/>

	<param name="imu_rate" value="$(arg imu_rate_arg)"/>
	<param name="debug" value="$(arg debug_arg)"/>


    <node pkg="icm20x_imu" name="imu_node" type="icm20948_node.py" respawn="true" respawn_delay="30" output="screen"/>

</launch>
